
@import '~ui/components/Styles/typo';

.c-text-button {
  @include typo-copy;

  display: inline-flex;
  flex-direction: row;
  align-items: center;

  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;

  cursor: pointer;

  background: none;
  appearance: none;
}
