
@import '~utils/scss/colors';
@import '~utils/scss/typo';

.c-legend {
  pointer-events: none;
}

.c-legend__level {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border: 1px solid rgba($g-color__primary, 0.4);
  border-radius: 100vmin;
}

.c-legend__group {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 100%;

  border-top: 3px solid darken($g-color__primary, 40);

  transform-origin: 0;

  text-align: left;
}

.c-legend__group-name {
  position: absolute;
  padding: 20px;
}

.c-legend__labels-background {
  fill: none;
  stroke: none;
}

.c-legend__labels {
  margin: -1.7vmin;
}

.c-legend__labels-element {
  overflow: visible;
}

.c-legend__label {
  @include typo-default;

  font-size: rem-size(1.8);
  fill: $g-color__primary;
  font-weight: lighter;
  text-anchor:middle;
  transform-origin: center;
  overflow: visible;

  pointer-events: all;

  cursor: pointer;
}