{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "comment-empty-line-before": ["always", {
      "ignore": ["stylelint-commands", "after-comment"]
    }],
    "declaration-empty-line-before": null,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "declaration-colon-space-after": "always-single-line",
    "string-no-newline": true,
    "declaration-block-no-duplicate-properties": [true, {
      ignore: ["consecutive-duplicates"]
    }],
    "no-descending-specificity": null,
    "max-nesting-depth": 1,
    "string-quotes": "single",
    "no-duplicate-selectors": true,
    "color-named": "never",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-no-shorthand-property-overrides": true,
    "indentation": 2,
    "max-empty-lines": 2,
    "at-rule-no-unknown": null,
    "value-list-comma-space-after": "always-single-line",
    "declaration-bang-space-after": "never",
    "rule-empty-line-before": ["always", {
      "except": ["first-nested"],
      "ignore": ["after-comment", "inside-block"]
    }],
    "unit-whitelist": ["%", "px", "vw", "vh", "vmin", "vmax", "s", "deg"],
    "plugin/selector-bem-pattern": {
      "componentName": "^[-a-z]+$",
      "componentSelectors": "^.{componentName}(?:__[-a-z]+)?(?:--[-a-z]+)?$"
    }
  }
}