@import '~ui/components/Styles/colors';
@import '~ui/components/Styles/typo';
@import '~ui/components/Styles/z-index';

.c-legend-group-labels {
  position: relative;
  margin: -2.7vmin;
  z-index: $g-zindex__technoloogy-radar-labels;
}

.c-legend-group-labels__background {
  fill: none;
  stroke: none;
}

.c-legend-group-labels__group {
  transform-origin: center;
}

.c-legend-group-labels__element {
  overflow: visible;
}

.c-legend-group-labels__label {
  @include typo-default;

  font-size: rem-size(1.8);
  fill: $g-color__primary;
  font-weight: lighter;
  text-anchor:middle;
  transform-origin: center;
  overflow: visible;

  pointer-events: all;

  cursor: pointer;
}