
@import '~ui/components/Styles/breakpoints';
@import '~ui/components/Styles/colors';
@import '~ui/components/Styles/typo';

.c-technology-list {
  display: block;
}

.c-technology-list__group-items {
  padding: 5px 0 15px;
}

.c-technology-list__item--hidden {
  display: none;
}
