
@import '~ui/components/Styles/animation';
@import '~ui/components/Styles/breakpoints';
@import '~ui/components/Styles/colors';
@import '~ui/components/Styles/typo';

.c-technology-list {
  @include breakpoint-up(large) {
    background: none;
    padding: 60px 0 25px;
  }

  @include breakpoint-at(medium) {
    padding: 100px 10px 25px;
  }

  @include transition--default(transform);

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  width: 100%;
  height: 100%;

  padding: 180px 5px 25px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: $g-color--background;
}

.c-technology-list--hidden {
  @include breakpoint-up(large) {
    transform: translateX(35vw);
  }

  transform: translateX(101vw);
}

.c-technology-list__group-items {
  padding: 5px 0 15px;
}

.c-technology-list__item--hidden {
  display: none;
}
