
@import '~utils/scss/animation';
@import '~utils/scss/colors';

.c-modal {
  @include transition--default(opacity);

  position: fixed;

  left: auto;
  right: 0;
  bottom: 0;
  width: 510px;
  height: 270px;

  opacity: 0;

  margin: 20px;
  padding: 20px;

  background: $g-color__primary;

  pointer-events: none;
  overflow: hidden;
}

.c-modal--sidebar {
  top: 0;
  right: 0;
  bottom: 0;

  width: 50vw;
  height: auto;

  margin: 0;
  border: 0;

  border-left: 2px solid $g-color__border;
}

.c-modal[open] {
  opacity: 1;
  pointer-events: all;
}

.c-modal__nav {
  position: absolute;

  top: 0;
  right: 0;
}

.c-modal__content {
  width: 100%;
  height: 100%;

  overflow: auto;
}