
@import '~utils/scss/animation';
@import '~utils/scss/colors';
@import '~utils/scss/typo';

$c-technology-details__color--size: 14px;

.c-technology-details__header {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.c-technology-details__name {
  @include typo-block-heading;

  display: flex;
}

.c-technology-details__group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-technology-details__group-color {
  display: inline-block;

  width: $c-technology-details__color--size;
  height: $c-technology-details__color--size;

  border: 3px solid transparent;
  border-radius: $c-technology-details__color--size;

  margin-right: 5px;
}