
@import '~utils/scss/animation';
@import '~utils/scss/colors';
@import '~utils/scss/typo';

$c-technology-details__color--size: 14px;

@keyframes logo-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

.c-technology-details {
  @include transition--default(opacity);

  opacity: 0;
  pointer-events: none;
}

.c-technology-details--active {
  opacity: 1;
  pointer-events: all;
}

.c-technology-details__logo {
  @include animation--default(logo-appear);

  position: fixed;
  z-index: -1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.4) rotateZ(-3deg);
  pointer-events: none;
}

.c-technology-details__header {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.c-technology-details__name {
  @include typo-block-heading;

  display: flex;
}

.c-technology-details__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
}

.c-technology-details__description {
  margin-top: 15px;
}

.c-technology-details__group-color {
  display: inline-block;

  width: $c-technology-details__color--size;
  height: $c-technology-details__color--size;

  border: 3px solid transparent;
  border-radius: $c-technology-details__color--size;

  margin-right: 5px;
}