
$c-group-panel__group-indicator--size: 18px;

.c-group-panel {
  display: block;
}

.c-group-panel__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-top: 10px;
}

.c-group-panel__group-indicator {
  display: inline-block;

  width: $c-group-panel__group-indicator--size;
  height: $c-group-panel__group-indicator--size;

  border-radius: $c-group-panel__group-indicator--size;

  margin-right: 10px;
}
