.c-groups {
  display: block;
}

.c-groups__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding-top: 20px;
}

.c-groups__action.c-groups__action {
  margin-left: 10px;
}
