
@import '~ui/components/Styles/breakpoints';
@import '~ui/components/Styles/colors';

.c-footer {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  padding: 0 5px 5px;

  pointer-events: none;
}

.c-footer__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.c-footer__action.c-footer__action {
  display: flex;
  flex-direction: row;

  align-items: center;

  color: rgba($g-color__primary, 0.8);
  background-color: transparent;
  pointer-events: all;
}

.c-footer__action.c-footer__action:hover {
  background-color: $g-color__primary;
}

.c-footer__action:hover span {
  color: $g-color__background;
}

.c-footer__action .c-icon {
  width: 18px;
  height: 18px;
  fill: $g-color__primary;

  margin-right: 12px;
}

.c-footer__action:hover .c-icon {
  fill: $g-color__background;
}

.c-footer__action--togle-view.c-footer__action--togle-view {
  @include breakpoint-up(large) {
    display: none;
  }
}
