
@import '~utils/scss/colors';

.c-footer {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  padding: 0 5px 5px;

  pointer-events: none;
}

.c-footer__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.c-footer__action.c-footer__action {
  background-color: transparent;
  pointer-events: all;
}

.c-footer__action-label {
  display: flex;
  flex-direction: row;
  color: rgba($g-color__primary, 0.8);

  align-items: center;
}

.c-footer__action.c-footer__action {
  color: $g-color__primary;
  background-color: transparent;
}
.c-footer__action:hover {
  background-color: $g-color__primary;
}

.c-footer__action:hover .c-footer__action-label {
  color: $g-color__background;
}

.c-footer__action-icon {
  width: 12px;
  height: 12px;
  fill: transparent;

  margin-right: 12px;
}

.c-footer__action:hover .c-footer__action-icon {
  fill: $g-color__background;
}