$g-color__black: #000;
$g-color__white: #fff;

$g-color__background: map-get($g-theme, 'base');

$g-color__border: map-get($g-theme, 'dividers');
$g-color__border--light: lighten($g-color__border, 10);

$g-color__primary: map-get($g-theme, 'primary');
$g-color__primary--hover: rgba($g-color__primary, 0.75);

$g-color__secondary: map-get($g-theme, 'secondary');
$g-color__accent: map-get($g-theme, 'accent');
$g-color__highlight: #FFD600;

$g-color__success: map-get($g-theme, 'success');;
$g-color__error: map-get($g-theme, 'error');;

$g-box-shadow--default: 0 0 1px 8px rgba($g-color__black, 0.25);

$g-color__theme: map-get($g-theme, 'theme');
$g-color__focus--a11y: map-get($g-theme, 'a11yfocus');
