
@import '~ui/components/Styles/colors';
@import '~ui/components/Styles/breakpoints';
@import '~ui/components/Styles/z-index';

// ----------------------------------------------------------------------------- Defaults
$c-group-indicator--size: 18px;
$c-group-indicator--border-width: 1px;

$c-group-indicator__highlight--border-width: $c-group-indicator--border-width;

// ----------------------------------------------------------------------------- Responsive
$c-group-indicator--size-medium: 28px;
$c-group-indicator--border-width-medium: 1px;

.c-group-indicator {
  display: inline-block;
  position: relative;

  width: $c-group-indicator--size;
  height: $c-group-indicator--size;
  min-width: $c-group-indicator--size;
  min-height: $c-group-indicator--size;

  border-radius: $c-group-indicator--size;
  border: $c-group-indicator--border-width solid transparent;
  border-color: inherit;
  outline: none;
  background: none;
}

.c-group-indicator--large {
  width: $c-group-indicator--size-medium;
  height: $c-group-indicator--size-medium;

  border-radius: $c-group-indicator--size-medium;
  border-width: $c-group-indicator--border-width-medium;
}

.c-group-indicator--focused {
  border-width: 2px;
}

.c-group-indicator::before {
  content: '';
  position: absolute;

  top: -1 * $c-group-indicator--border-width;
  right: -1 * $c-group-indicator--border-width;
  bottom: -1 * $c-group-indicator--border-width;
  left: -1 * $c-group-indicator--border-width;
  z-index: 2;

  border-radius: $c-group-indicator--size;
  border: $c-group-indicator__highlight--border-width solid transparent;
  border-top-color: $g-color__white;

  opacity: 0.4;
}

.c-group-indicator--focused::before {
  opacity: 1;

  top: -2 * $c-group-indicator--border-width;
  right: -2 * $c-group-indicator--border-width;
  bottom: -2 * $c-group-indicator--border-width;
  left: -2 * $c-group-indicator--border-width;

  border-width: 2px;
}
