
@import './colors';

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function rem-size($size) {
  @return (strip-unit($size) / $rem-base--size) * 1rem;
}

// The base size to be set as rem base.
// All subsequent rem-sizes will be measured relative
// to this.
//
$rem-base--size: 14;

$g-typo__font-weight--light: 300;
$g-typo__font-weight--regular: 400;
$g-typo__font-weight--bold: 700;

$g-typo__font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, system, sans-serif;
$g-typo__font-size: rem-size(14);
$g-typo__font-weight: $g-typo__font-weight--light;

$g-typo__font-size--small: rem-size(11);
$g-typo__font-size--default: rem-size(14);
$g-typo__font-size--section-heading: rem-size(36);
$g-typo__font-size--block-heading: rem-size(24);
$g-typo__font-size--copy-large: rem-size(18);
$g-typo__font-size--copy: rem-size(14);

$g-typo__line-height-ratio: 1.61803399;

@mixin typo-default {
  font-family: $g-typo__font-family;
  font-weight: $g-typo__font-weight--light;

  font-size: $g-typo__font-size--default;
  line-height: $g-typo__line-height-ratio;
}

@mixin typo-section-heading {
  font-family: $g-typo__font-family;
  font-weight: $g-typo__font-weight--regular;

  font-size: $g-typo__font-size--section-heading;
  line-height: $g-typo__line-height-ratio;
}

@mixin typo-block-heading {
  font-family: $g-typo__font-family;
  font-weight: $g-typo__font-weight--regular;

  font-size: $g-typo__font-size--block-heading;
  line-height: $g-typo__line-height-ratio;
}

@mixin typo-group-heading {
  font-family: $g-typo__font-family;
  font-weight: $g-typo__font-weight--regular;

  font-size: $g-typo__font-size--copy;
  line-height: $g-typo__line-height-ratio;
}

@mixin typo-copy {
  font-family: $g-typo__font-family;
  font-weight: $g-typo__font-weight--light;

  font-size: $g-typo__font-size--copy;
  line-height: $g-typo__line-height-ratio;
}

@mixin typo-copy--small {
  @include typo-default();

  font-size: $g-typo__font-size--small;
}