
$g-zindex__modal-backdrop: -1;
$g-zindex__global-background--below: -1;
$g-zindex__technoloogy-radar-labels: 100;
$g-zindex__technoloogy-radar-item: 100;
$g-zindex__header: 2000;
$g-zindex__global-background--above: 3000;
$g-zindex__bottom-sheet: 5000;
$g-zindex__view-action: 7500;
$g-zindex__modal: 10000;
