@import '~ui/components/Styles/animation';
@import '~ui/components/Styles/breakpoints';
@import '~ui/components/Styles/colors';
@import '~ui/components/Styles/z-index';

.c-app {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 100%;

  overflow: auto;
}

.c-app__content-wrapper {
  @include breakpoint-up(large) {
    justify-content: flex-start;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;

  width: 100%;
  min-height: 100%;

  max-width: 200vmin;

  position: relative;

  margin: 0 auto;

  pointer-events: none;
}

.c-app__content-wrapper--fixed {
  position: fixed;
  top: 0;
  height: 100%;

  align-items: center;
}

.c-app__content {
  pointer-events: all;
}

.c-app--view-radar .c-app__technology-list {
  @include breakpoint-up(large) {
    transform: translateX(0);
  }

  transform: translateX(160%);
}

.c-app--selected-technology .c-app__technology-list {
  transform: translateX(160%);
}

.c-app__technology-list {
  @include transition--default(transform);

  @include breakpoint-up(large) {
    left: (2/3) * 100%;
    width: (1/3) * 100%;
    min-width: 350px;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  height: 100%;

  position: relative;
}

.c-app__technology-list-content {
  @include breakpoint-up(large) {
    padding: 15px 0 25px;
    background: none;
  }
  @include breakpoint-at(medium) {
    padding: 100px 10px 25px 52px;
  }

  padding: 60px 10px 25px 22px;
  background: $g-color--background;
}

.c-app__technology-radar {
  @include breakpoint-up(large) {
    width: (4/5) * 100vmin;
    height: (4/5) * 100vmin;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vmin;
  height: 100vmin;

  pointer-events: none;
}

.c-app__technology-radar-content {
  @include breakpoint-down(medium) {
    position: relative;
    top: 6vmin;
    padding: 8vmin;
  }
}
