@import '~ui/components/Styles/colors';
@import '~ui/components/GroupIndicator/styles';

.c-technology-item {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 1px;

  transform-origin: 0;

  pointer-events: none;

  background: $g-color__border;
}

.c-technology-item__item {
  // @include breakpoint-at(medium) {
  //   @include height-at(medium) {
  //     top: -0.5 * $c-group-indicator--size-medium;
  //     right: -0.5 * $c-group-indicator--size-medium;
  //   }
  // }

  position: absolute;

  top: -0.5 * $c-group-indicator--size;
  right: -0.5 * $c-group-indicator--size;
  z-index: $g-zindex__technoloogy-radar-item;

  pointer-events: all;

  cursor: pointer;
}
