@import '~ui/components/Styles/colors';
@import '~ui/components/GroupIndicator/styles';

.c-technology-item {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 1px;

  transform-origin: 0;

  pointer-events: none;
}

.c-technology-item__item {
  position: absolute;

  top: -0.5 * $c-group-indicator--size;
  right: -0.5 * $c-group-indicator--size;
  z-index: $g-zindex__technoloogy-radar-item;

  pointer-events: all;

  cursor: pointer;
}
