@import '~utils/scss/colors';

$c-technology-item__item--size: 2.5vmin;

.c-technology-item {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 0;

  transform-origin: 0;

  pointer-events: none;

  border-bottom: 1px solid $g-color__border;
}

.c-technology-item__item {
  position: relative;

  top: -0.5 * $c-technology-item__item--size;
  right: -0.5 * $c-technology-item__item--size;

  width: $c-technology-item__item--size;
  height: $c-technology-item__item--size;

  padding: 0;
  margin: 0;

  border-radius: $c-technology-item__item--size;
  border: 0.1vmin solid transparent;
  border-color: inherit;
  outline: none;
  background: none;

  cursor: pointer;
  pointer-events: all;
}

// .c-technology-item::before,
// .c-technology-item::after,
.c-technology-item__item::before,
.c-technology-item__item::after {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);

  border-radius: $c-technology-item__item--size;
  opacity: 0;
}

.c-technology-item--focused .c-technology-item__item::before,
.c-technology-item:hover .c-technology-item__item::before {
  opacity: 1;
  z-index: 2;
}

.c-technology-item--focused .c-technology-item__item::before,
.c-technology-item:hover .c-technology-item__item::before {
  border-top: 0.1vmin solid $g-color__white;
}

.c-technology-item--focused .c-technology-item__item::after,
.c-technology-item:hover .c-technology-item__item::after {
  filter: blur(1px);
  border: 0.15vmin solid transparent;
  border-color: inherit;
  opacity: 1;
}