
@import '~ui/components/Styles/z-index';

#g-global-background {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.g-global-background--above {
  z-index: $g-zindex__global-background--above;
}

.g-global-background--below {
  z-index: $g-zindex__global-background--below;
}
