
@import '~ui/components/Styles/typo';
@import '~ui/components/Styles/z-index';

.c-header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $g-zindex__header;

  pointer-events: none;
}

.c-header__app-title {
  display: inline-flex;
  align-items: center;

  padding: 10px 20px;
  pointer-events: all;
}

.c-header__logo  {
  display: inline-block;
  width: 6.2vmin;
}

.c-header__title {
  @include typo-block-heading;

  display: inline-block;
  font-size: 3.5vmin;
  font-family: $g-typo__font-family;
  font-weight: $g-typo__font-weight--light;

  color: $g-color__primary;
}
