
@import '~ui/components/Styles/typo';

.c-header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  pointer-events: none;
}

.c-header__app-title {
  display: inline-flex;
  align-items: center;

  padding: 10px 20px;
}

.c-header__logo  {
  display: inline-block;
  width: 46px;
}

.c-header__title {
  @include typo-block-heading;

  display: inline-block;
  font-family: $g-typo__font-family;
  font-weight: $g-typo__font-weight--light;
}
