
@import '~utils/scss/typo';

.c-header {
  display: flex;
  align-items: center;

  position: absolute;
}

.c-header__logo {
  display: inline-block;
  width: 46px;
}

.c-header__title {
  display: inline-block;
  font-size: px-to-rem(24);
}
