
$theme__colors--black: rgba(0, 0, 0, 1) !default;

$theme__colors--white: rgba(255, 255, 255, 1) !default;

$theme__colors--primary: rgba(255, 255, 255, 1) !default;
$theme__colors--primary-inverse: rgba(0, 0, 0, 1) !default;
$theme__colors--secondary: rgba(175, 175, 175, 1) !default;
$theme__colors--accent: rgba(139, 218, 224, 1) !default;
$theme__colors--base: rgba(2, 22, 12, 1) !default;
$theme__colors--base-inverse: rgba(255, 255, 255, 1) !default;
$theme__colors--dividers: rgba(77, 77, 77, 1) !default;
$theme__colors--highlight: #ffb96e !default;

$theme__colors: ((
  default: #fc6c73,
  lighter: #fc6c73,
  lightest: #fc6c73
), (
  default: #8bdae0,
  lighter: #8bdae0,
  lightest: #8bdae0
), (
  default: #ffb96e,
  lighter: #ffde70,
  lightest: #ffde70
)) !default;

$theme__colors--success: rgba(76, 175, 79, 1) !default;
$theme__colors--error: rgba(211, 47, 48, 1) !default;
$theme__colors--focus-a11y: #9c27b0;

$theme__breakpoints--small: 0 !default;
$theme__breakpoints--medium: 767 !default;
$theme__breakpoints--large: 1023 !default;
