
@import '~ui/components/Styles/breakpoints';
@import '~ui/components/Styles/colors';
@import '~ui/components/Styles/typo';

.c-legend-levels {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-legend-levels__level {
  @include breakpoint-up(medium) {
    @include typo-copy;
  }

  @include typo-copy--small;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: $g-color__secondary;

  border: 1px solid rgba($g-color__primary, 0.4);
  border-radius: 100vmin;
}

.c-legend-levels__level-label {
  @include hide(small);

  display: block;
  position: relative;

  transform: translateY(-50%);

  padding: 0 1.75vmin;
}
